<%- include ("partials/header.ejs") %>
<%- include ("partials/navbar.ejs") %>

<body>
    <div class="container" >
    <p><h1>Lista de Pedidos</p></h1>
    </div>
    <% pedidos.forEach((pedidos => { %>
         <div class="container" >
       
             <div class="card" style="width: 20rem;">                
                <div class="card-sm-6 bg-dark"">
                    <div class="card-header">
                        <p class="text-light"> Pedido <%= pedidos.id%> - <%= pedidos.nome %></p>
                            <ul class="list-group list-group-flush">
                            <li class="list-group-item bg-dark"><%= pedidos.sabor %></li>
                            <li class="list-group-item bg-dark"><%= pedidos.vinho %></li>
                            <li class="list-group-item bg-dark"><%= pedidos.endereco %></li>
                            <li class="list-group-item bg-dark"><%= pedidos.telefone %></li>
                            </ul>
                    </div>
                </div>
              </div>
            </div>   
        <hr><br>
           <% })) %>         
</body>
<%- include ("partials/footer.ejs") %>